Source: xmradio
Section: utils
Priority: optional
Maintainer: Weitian Leung <weitianleung@gmail.com>
Standards-Version: 3.9.2
Homepage: https://github.com/timxx/xmradio
Build-Depends: debhelper (>= 8.0.0), cmake,
         libgtk-3-dev, libglib2.0-dev, zlib1g-dev,
         libgdk-pixbuf2.0-dev, libgstreamer0.10-dev,
         libgstreamer-plugins-base0.10-dev,
         libsqlite3-dev, libdbus-glib-1-dev,
         libpeas-dev, libcurl4-openssl-dev,
         libxml2-dev, libnotify-dev,
         intltool (>= 0.35.0),
         pkg-config, cdbs, gnome-common,
         libappindicator3-dev

Package: xmradio
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
         dbus,
         gstreamer0.10-plugins-base,
         gnome-icon-theme,
         gstreamer0.10-x
Recommends: gstreamer0.10-ffmpeg 
Description: Xia Mi Radio for Linux
 xmradio is a tiny Internet Xia Mi Radio client for Linux, which
 supports many radio style, skin builtin and many other features.
